/**
 * Custom CSS for bwdesign plugin 
 * a bespoke plugin for bobbingwidewebdesign.com
 * 
 
div.bwlogo {
	font-weight: bold;
	margin-top: 20px;
}
/* 
 * Here we style the .content and .content-sidebar for single blog posts
 * so that they're stacked.
 */
.single-post .content,
.single-post .content-sidebar,
.single-post .sidebar-primary {
	width: 100% ;
}

footer span.label,
footer span.sep {
	font-size: 12px;
}

footer div {
	font-size: 12px;
}

/**
 * Note: This file is enqueued after oik-custom.css, so we don't need !important.
 */
a.bw_logo img {
	margin-top: 20px;
	background-color: #cccccc;
}

a.bw_logo img:hover {
	background-color: #333333;
}

